body {
    text-align: center;
    background: #fcefe3;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Senha */
.dica {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 12px;
    color: #444;
}

#erro {
    color: red;
    margin-top: 10px;
}

/* Envelope */
.envelope img {
    width: 250px;
    cursor: pointer;
    transition: transform 1s;
}

.envelope.aberto img {
    transform: rotateX(180deg);
}

/* Mensagem */
.mensagem {
    opacity: 0;
    margin-top: 20px;
    transition: opacity 1.5s;
    font-size: 18px;
    background: white;
    padding: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
